.body {
	margin: 0;
	font-family: 'Inter',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
    line-height: 1.6;
    color: #424242;
    background-color: #f5f5f5;
}

.page{
	overflow: hidden;
	background-color: #f5f5f5;
	text-align: left;
	box-sizing: border-box;
}

.header {
	margin-top: 0;
	box-sizing: border-box;
    padding: 20px 15px 0;
	max-width: 1170px;
    margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_top {
}

.header__logo{
	width: 294px;
	/* height: 76px; */
	margin: 0;
	transition: .3s all ease;
	white-space: nowrap;
	color: #044094;
	text-decoration: none;
	vertical-align: baseline;
	
}

.header__contact-block{
	margin-top: 0;
    margin-bottom: 0;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__contact-tel-block{
	margin-bottom: 0;
	display: flex;
	flex-direction: row;

}

.header__contact-tel-icon {
	color: #044094;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 26px;
	line-height: 26px;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	position: relative;
	font-family: "Material Design Icons";
	box-sizing: border-box;

}

.header__contact-tel-icon:before { 
    content: "\f4e1";
}

.header__contact-tel-textblock {
	padding-top: 0;
	padding-left: 15px;
	margin-bottom: 0;
}

.header__contact-tel-num {
	/* font-family: 'Inter'; */
	color: #424242;
	font-weight: 700;
	font-style: normal;
	transition: .3s all ease;
	white-space: nowrap;
	text-decoration: none;
	background-color: transparent;
}

.header__contact-tel-descr {
	font-style: italic;
	color: #616161;
	margin: 0;
	box-sizing: border-box;
	text-align: left;
	text-align: left;

}


.header__contact-addr-block{
	margin-bottom: 0;
	margin-left: 50px;
	display: flex;
	flex-direction: row;

}

.header__contact-addr-icon {
	color: #044094;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 26px;
	line-height: 26px;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	position: relative;
	font-family: "Material Design Icons";
	box-sizing: border-box;

}

.header__contact-addr-icon:before { 
    content: "\f440";
}


.header__contact-addr-text {
	/* font-family: 'Inter'; */
	width: 200px;
	padding-top: 0;
	padding-left: 15px;
	margin-bottom: 0;
	font-weight: 400;
	font-style: normal;
	transition: .3s all ease;
	text-decoration: none;
	background-color: transparent;
	color: #616161;
}

.header__signup-list {
    background-color: #D53124;
	border-color: #8A150C;
	margin: auto 0 auto 0;
	border-radius: 26px;
	width: 220px;
	height: 50px;
	cursor: pointer;
	outline: none;
	/* padding: 10px 40px; */
    border-width: 2px;
    transition: .3s;
	backface-visibility: hidden;
	display: inline-block;
}

.header__signup-list-element{
	color: #fff;
	font-size: 16px;
    line-height: 28px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.04em;
	text-align-last: center; 
	text-align: center;
	 
}

.header__signup-list-element:first-child{
	/* visibility: hidden; */
	display: none;
}

.navbar {
	width: 100%;
	height: 60px;
	/* background: #044094; 
	Основной цвет: #D53124
	Вторичный цвет А: #D57924
	Вторичный цвет B: #187582
	Дополнительный цвет: #1CA333
	https://colorscheme.ru/#0341TqAqJw0w0
	*/
    background: #187582;

}

.navbar__main-menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    max-width: 1170px;
	margin: auto;
	vertical-align: middle;
    position: relative;
	box-sizing: border-box;
	padding: 0 3% 0 3%;

}

.navbar__main-menu-element {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.navbar__main-menu-element:hover > ul {
    visibility:visible;
}


.navbar__main-menu-element:before{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.navbar__main-menu-link {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	padding: 18px 8px;

}

.navbar__searchbtn {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	padding: 18px 8px;

}

.navbar__searchbtn:after {
	content: "\f002";
	font-size: 15px;

	-webkit-transform: rotate(-90deg) scale(0);
    transform: rotate(-90deg) scale(0);
    font-family: "FontAwesome";
}

.navbar__menu-arrow { 
}


.navbar__menu-arrow:after {
	content: '\f078';
    font-family: 'FontAwesome';
	font-size: 8px;
	line-height: 15px;
	color: #fff;
	/* padding: 18px 24px; */
	display: inline-block;
	/* transform: translateY(50%); */
	vertical-align: middle;
}


.navbar__second-menu{
	background: #187582;
	margin-top: 0px;
	padding-bottom: 5px;
	position: absolute;
    z-index: 1;
    /* width: 240px; */
    min-width: 240px;
    padding: 0;
    visibility: hidden;
    transition: .1s all ease;
    text-align: left;
    /* opacity: 0; */
	box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
	list-style-type: none;
	margin-bottom: 0;
	top: 100%;	
}

.navbar__second-menu-element {
	display: block;
    padding: 8px 15px 8px 15px;
	text-transform: none;
	font-size: 14px;
    line-height: 24px;
    color: #fff;
	white-space: nowrap;
	list-style-type: none;
	transition: all 0.35s ease-in-out;
}

.navbar__second-menu-link {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}


.navbar__second-menu-element:hover > a:before {
	content: "";
	font-family: 'FontAwesome';
	font-size: 14px;
	color: #fff;
	/* padding: 18px 24px; */
	display: inline-block;
	/* transform: translateY(50%); */
	vertical-align: middle;
}

.ou-block {
}

.ou-block-container{
	display: flex;
	margin: 0 auto 0 auto;
	padding: 0;
	justify-content: center;

}


.ou-block-container__element {
	margin: 0;
	list-style-type: none;
	padding: 10px 0px 0px 0px;
	transition: all 0.3s ease;

}

.ou-block-container-inner {
	width: 292px;
	height: 276px;
	background: #001542;
	color: #fff;
	align-items: center;
	margin: 0;
	/* overflow: hidden; */

}

.ou-block-container__element:hover {
	transform: translateY(-62px);
}

.ou-block-container__element:hover .ou-block-container__element-more {
	height: 62px;
}


.ou-block-container-inner_light {
	background: #044094;
}



.ou-block-container__element-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #fff;
	padding-left:15px;
	padding-right:15px;
}


.ou-block-container__element-header-text {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	vertical-align: middle;
	margin: 0;
	padding-left: 10px;
}

.ou-block-container__element-header-symbol {
	margin: 0;
    font-family: 'FontAwesome';
	font-size: 25px;
	font-weight: 400;

}


.ou-block-container__element-desc {
	text-transform: uppercase;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	margin: 15px 0 5px 0;
	padding-left:15px;
	padding-right:15px;

}

.ou-block-container__element-sheduleblock {
	display: flex;
	justify-content: space-between;
	margin: 5px 0 0 0;
	padding-left:15px;
	padding-right:15px;

}

.ou-block-container__element-sheduledays {
	font-size: 16px;
	margin: 0;
}

.ou-block-container__element-shedulevalue {
	margin: 0;
	font-weight: 700;
	font-size: 16px;

}

.ou-block-container__element-more {
	color: #fff;
	background-color: #0098DB;
	border: 1px solid #0098DB;
	text-decoration: none;
	display: block;
	height: 0px;
	text-transform: uppercase;
	text-align: center;
	/* margin-top: 15px; */
	transition: all 0.3s ease;
}

.ou-block-container__element-more:hover {
	color:#0098DB;
	background-color: #fff;
}

.hotbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin-top: 50px;
	color: #fff;
	background: linear-gradient(90deg, #044094 0%, #e50a0a 100%);
}

.hotbutton__text {
	font-size: 26px;
	text-align: center;
	margin-right: 50px;
}

.hotbutton__link {
	text-decoration: none;
	color: #fff;
	border-radius: 26px;
	display: inline-block;
	background-color: #0098DB;
	padding: 10px 40px;
    font-size: 16px;
    line-height: 28px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border: 1px solid #0098DB;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    transition: all .3s ease;	
}

.hotbutton__link:hover {
	color: #0098DB;
	background-color: #fff;
	font-weight: 700;
}

.hotbutton__link_transparent {
	background-color: rgba(0, 0, 0, 0.2);

}

.publications {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-top: 30px;

}

.publications__title {
	width: 100%;
	text-align: center;
}

.publications-block {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: repeat(1, auto);
	column-gap: 30px;
	overflow: hidden;
	margin: 0 10px 0 10px;
}

.publication {

}

.publication__image {
	height: 240px;
	width: 350px;
	border-radius: 10px;
}

.publication__date {
	font-style: italic;
	text-align: left;
	margin: 16px 0 0 0;
}

.publication__title {
	transition: .3s all ease;
	color: #0098DB;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.375;
}

.publication__text {
	color: #424242;
	line-height: 1.8;
	margin: 16px 0 0 0;

}

.other-news {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-top: 30px;
}

.other-news__title {
	width: 100%;
	text-align: center;
}

.other-news-block {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(6, 170px);
	grid-template-rows: repeat(1, auto);
	column-gap: 15px;
	overflow: hidden;
	margin: 0 10px 0 10px;
}

.news-item__image {
	height: auto;
	width: 170px;
	border-radius: 10px;
}

.news-item__date {
	font-style: italic;
	text-align: left;
	margin: 16px 0 0 0;
	font-size: 14px;
}

.news-item__title {
	transition: .3s all ease;
	color: #0098DB;
	text-decoration: none;
	outline: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.375;
}

.bestoffer {
	display: flex;
	padding: 85px 0 85px 0;
	background-image: url(../img/background-03-1920x537.jpg);
}

.bestoffer-left {
	width: 600px;
	margin: 0px 25px 0px auto;
	justify-content: flex-start;
	
}

.bestoffer-right {
	width: 500px;
	margin: 0px auto 0px 25px;

}

.bestoffer-left__title {
	line-height: 1.2;
	font-size: 38px;
	font-weight: 400;
	margin: 0;
	color: #fff;
}

.bestoffer-left__text {
	margin-top: 20px;
	margin-bottom: 40px;
	color: #fff;
}

.bestoffer-right__text {
	margin: 0;
	color: #fff;
}

.bestoffer-right__list-element {
	color: #fff;
}


@font-face {
	font-family:'FontAwesome';src:url("../fonts/fontawesome-webfont.eot?v=4.5.0");src:url("../fonts/fontawesome-webfont.eot#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
	font-family:"Material Design Icons";src:url("../fonts/materialdesignicons-webfont.eot");src:url("../fonts/materialdesignicons-webfont.eot") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2") format("woff2"), url("../fonts/materialdesignicons-webfont.woff") format("woff"), url("../fonts/materialdesignicons-webfont.ttf") format("truetype"), url("../fonts/materialdesignicons-webfont.svg") format("svg");font-weight:normal;font-style:normal;
}

@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
		 url("../fonts/Inter-Regular.woff?v=3.15") format("woff");
  }
  
  @font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
		 url("../fonts/Inter-Bold.woff?v=3.15") format("woff");
  }
  
  
  @font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 900;
	font-display: swap;
	src: url("../fonts/Inter-Black.woff2?v=3.15") format("woff2"),
		 url("../fonts/Inter-Black.woff?v=3.15") format("woff");
  }


